* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.background {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}
.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #ff0000c7;
  width: 100%;
  height: 80px;
}
.pokemon-image {
  height: 80px;
  width: 250px;
}
.inputfield {
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 12px;
}
.search-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.search-button {
  width: 60px;
  cursor: pointer;
  border-radius: 12px;
}
.main-content {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 12px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  /*border-radius: 10px;*/
  border: 5px solid #ffd700;
  padding: 8px;
  height: 340px;
  width: 240px;
  cursor: pointer;
  /**/
  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
    -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;

  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
.pokemon-card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transform: scale(1.025);
}
:root {
  --color1: #efb2fb;
  --color2: #acc6f8;
}
.pokemon-card:before,
.pokemon-card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}
.pokemon-card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}
.pokemon-card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}
.pokemon-card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}
.pokemon-card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.pokemon-card.active:before,
.pokemon-card:hover:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.pokemon-card.active:before,
.pokemon-card:hover:before,
.pokemon-card.active:after,
.pokemon-card:hover:after {
  animation: none;
  transition: none;
}

.pokemon-card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
  &:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }
  &:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  }
}
@keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
.sprite-container {
  position: relative;
}
.sprite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.sprite {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-size: 100%;
  border-radius: 6px;
  border: 5px solid #ffd700;
}
.sprite-images {
  height: 150px;
  width: 150px;
  position: relative;
  z-index: 3;
}
.pokemon-card-headline {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.region-navbar {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.navbar-button {
  cursor: pointer;
  border-radius: 12px;
}
.spinner-loadingscreen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.loader {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 550px) {
  .header {
    flex-direction: column;
    height: 200px;
  }
}
.description {
  font-size: 14px;
}
.render-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
#renderMore {
  cursor: pointer;
  background-color: red;
  border-radius: 12px;
}
.type-svg {
  width: 20px;
  height: auto;
}

.types-container {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

.type-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100vw;
  padding: 5px 15px;
  filter: drop-shadow(1px 1px 1px white);
}
.overlay-card {
  display: flex;
  flex-direction: column;
  border: 5px solid #ffd700;
  padding: 8px;
  height: 680px;
  width: 480px;
  cursor: pointer;
  /**/
  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
    -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;

  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
.overlay-card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
:root {
  --color1: #efb2fb;
  --color2: #acc6f8;
}
.overlay-card:before,
.overlay-card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}
.overlay-card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}
.overlay-card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}
.overlay-card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}
.overlay-card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.overlay-card-headline {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 14px;
}
.overlay-images {
  height: 250px;
  width: 250px;
  position: relative;
  z-index: 3;
}
.big-card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.big-card-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
}
.types-container-big-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100vw;
  padding: 5px 15px;
  filter: drop-shadow(1px 1px 1px white);
  margin-top: 10px;
}
.type-container-big-card {
  display: flex;
  gap: 5px;
}
.overlay-buttons {
  display: flex;
  justify-content: space-between;
}
.switch-pokemon {
  border-radius: 50%;
  border: 3px solid #ffd700;
  font-size: 20px;
  background-color: transparent;
  color: #ffd700;
  z-index: 11;
  cursor: pointer;
}
.canvas {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 280px;
  color: black;
}
.z {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}
.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 55px;
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border-radius: 3rem;
  border: 1px solid red;
  padding: 12px;
  transition: 0.4s;
}
.button-text {
  position: relative;
  z-index: 1;
}
.button img {
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  transition: 0.6s;
  opacity: 0;
}
.button-bisasam {
  width: 60px;
  transform: translate(-25px, -6px) rotate(75deg);
}
.button-schiggy {
  width: 40px;
  transform: translate(7px, -34px) rotate(80deg);
}
.button-glumanda {
  width: 48px;
  transform: translate(34px, -4px) rotate(-45deg);
}
.button-pikachu {
  width: 40px;
  transform: translate(-5px, 15px) rotate(40deg);
}
.button-evoli {
  width: 40px;
  transform: translate(-50px, 25px) rotate(40deg);
}
.button-voltobal {
  width: 40px;
  transform: translate(35px, -5px) rotate(40deg);
}
.button-ditto {
  width: 40px;
  transform: translate(30px, -10px) rotate(40deg);
}
.button:hover::after {
  opacity: 1;
}
.button:hover img {
  opacity: 1;
}
.button:hover .button-bisasam {
  transform: translate(-30px, -18px) scale(1.6);
  transition: 0.5s;
}
.button:hover .button-schiggy {
  transform: translate(10px, -25px) scale(2);
  transition: 0.8s;
}
.button:hover .button-glumanda {
  transform: translate(50px, -20px) scale(1.8);
  transition: 1.1s;
}
.button:hover .button-pikachu {
  transform: translate(-14px, 20px) scale(2);
  transition: 1.4s;
}
.button:hover .button-evoli {
  transform: translate(-45px, 15px) scale(1.8);
  transition: 1.7s;
}
.button:hover .button-voltobal {
  transform: translate(15px, 25px) scale(2);
  transition: 2s;
}
.button:hover .button-ditto {
  transform: translate(50px, 20px) scale(2.2);
  transition: 2.3s;
}
