* {
  margin: 0px;
}

.background {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
}

.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 110px;
}
.inputfield {
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 12px;
  border: none;
}
.search-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.search-button {
  width: 60px;
  cursor: pointer;
  border-radius: 12px;
}
.main-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  flex-wrap: wrap;
  gap: 12px;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 10px solid silver;
  padding: 8px;
  height: 320px;
  width: 240px;
}
span {
  margin-top: 12px;
}
.sprite {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprite-images {
  height: 150px;
  width: 150px;
}
.pokemon-card-headline {
  display: flex;
  justify-content: space-between;
}
.region-navbar {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}
.navbar-button {
  cursor: pointer;
  border-radius: 6px;
}
.spinner-loadingscreen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-none {
  display: none;
}
